html, body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  background: #ccdfcb;
  color: #414141;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0;

}

.jumbotron {
  background: #015249;
  border: 1px solid transparent;
}
.jumbotron h1 {
  padding: 10px 0;
  color: white;
}

label[for=login] {
    font-weight: bold;
}

.form-group > label {
  font-size: 20px;
}

#login-input {
  margin: 10px 10px;
  height: 25px;
  font-size: 16px;
}

form {
  margin-top: 40px;
}
.form-control {
  display: inline-block;
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.form-group {
  margin: 15px 0;
}

.btn {
  position: relative;
  top: 10px;
  padding: 10px 30px;
  background: #414141;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 16px;
}
.btn:hover {
  cursor: pointer;
}
button {
  border: none;
}

.footer {
  height: 100px;
}

ul {
  list-style-type: none;
  display: inline-block;
}

li {
  margin: 5px;
  font-size: 18px;
}

li input, li label {
  cursor: pointer;
}

input[type=radio] {

}

.correct {
  color: green;
  font-weight: 700;
}
.wrong {
  color: red;
  font-weight: 700;
}

.no-answer {
  color: red;
  margin: 10px 0 0;
  padding-bottom: 0;
  display: none;
}

.results {
  position: fixed;
  height: 200px;
  width: 400px;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  display: none;

  text-align: center;
  border: 7px solid #232323;
  border-radius: 5px;
  background: gray;
}
.results p {
  position: relative;
  top: 25px;
  margin: 40px 0 50px;
  color: #414141;

}
#score {
  font-size: 30px;
  font-weight: bold;
}
