html, body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;

}

.header {
  background: #383838;
  height: 80px;
  margin-top: 0;
  border: 2px solid gray;
  color: white;
}

.header .container {
  position: relative;
  top: 10px;
}
.header h1 {
  font-size: 30px;
  margin: 0 auto;
  padding: 0 auto;
}

.header h2 {
  font-size: 20px;
  margin-top: 0;
}

.current {
  background: white;
}

.current h1 {
  padding-top: 60px;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: 2px;
}

.current .container {
  text-align: center;
}

.current img {
  width: 95%;
  padding-bottom: 50px;
}

.upcoming {
  text-align: center;
}

.upcoming .container {
  border-top: 2px solid gray;
}

.upcoming h1 {
  text-align: left;
}

.grid-cell {
  float: left;
  padding: 10px 20px;
}

.footer {
  position: relative;
  top: 50px;
  height: 50px;
  background: gray;
  clear: both;
}


@media (max-width: 480px) {
  .current img {
    width: 100%;
  }

  .container {
    width: 100%;
  }

}
